    body{
        background-color: #d5e2ab;
    }

    form[name="newLicenseForm"]{
        border: 2px solid #000;
        border-radius: 30px;
        width: 350px;
        height: 450px;
        background: #dddddd;
        margin:10px auto;
     }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }

    li {
        float: left;
    }

    li a {

        color: #43cffe;
        text-align: center;
        padding: 25px;
        margin: 5px;

    }

    label {

        padding: 20px;
        margin : 50 px;
    }

    input {
        margin: 20px;
        padding: 5px;
        border: 2px solid #000;
        border-radius: 5px;
    }

    button {
        padding: 10px;
        width: 80px;
        border-radius: 5px;
        border: 2px solid #000;
        margin: 15px;
        color: white;
    }



    .btn-primary {
        background-color: #008CBA;

    }
    .btn-secondary {
    background-color: #f44336;
    }





